/* Resetando margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1645340862502-1ae6be0b57a4?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZWxlZ2FudGUlMjBhbG9qYW1lbnRvJTIwZG8lMjBkZXNlcnRvfGVufDB8fDB8fHww'); /* Caminho da imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o fundo do body */
  background-position: center; /* Centraliza a imagem */
}

/* Cabeçalho */
header {
  background-color: rgba(0, 96, 100, 0.8); /* Somente um fundo translúcido */
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
}

header p {
  font-size: 20px;
  margin-top: 10px;
  
}

/* Seção Principal */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
}

h2 {
  color:antiquewhite;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  color:antiquewhite;
  font-size: 18px;
  max-width: 900px;
  margin: 20px 0 30px;
  line-height: 1.7;
}

/* Links em Círculos */
.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.link-circle {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 96, 100, 0.8); /* Transparência de fundo */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.link-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.link-circle:active {
  transform: scale(1);
}

/* Responsividade (Dispositivos Menores) */
@media (max-width: 768px) {
  header h1 {
    font-size: 36px;
  }

  main {
    padding: 30px 15px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    max-width: 100%;
    margin: 10px auto;
  }

  .links {
    flex-direction: column;
    gap: 20px;
  }

  .link-circle {
    width: 120px;
    height: 120px;
    font-size: 18px;
  }
}
footer {
  background-color: #006064;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 5px solid #80deea;
  position: relative;
  width: 100%;
  margin-top: auto; /* Isso vai garantir que o footer fique no final da página */
}

footer p {
  margin: 0;
  color:aliceblue;
}

footer a {
  color: #80deea;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}